<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven">
	<test name="Login Test">
		<classes>
			<class name="com.orangehr.testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	
	<test name="Login Using Admin User">
		<classes>
			<class name="com.orangehr.testcases.LoginUsingAdminUserTest" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
